*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;

}

.co{color:#010c1d;color:#161b33; color:#f1dac4; color:#474973; color:#ff3; color:#a69cac; }
.cc{color: #2b2e42, #8d99ae, #edf2f4, #ef233c, #d90429 ,#5cd85a}