*{
    box-sizing: border-box;
    margin: 0 ;
    padding: 0 ;
}
.header_da-- {
    background-color: #000;
    display: flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
    padding: 0px 32px;
    height:70px;
    width:100%;
    position: relative;
    box-shadow: 2px -2px 20px 4px rgba(0,0,0,0.37);
    z-index: 4;
}

.logo_da--icon{
    font-size:23px;
    background-color: #000;
    padding:2px 4px 0px 4px;
    border-radius:4px;
    margin-right: 4px;
    border: none;
    cursor: pointer;
    height: 100%;
    color:#efe;
}

.logo_da--text{
    font-weight: 500;
    font-size:24px;
    text-shadow:2px 2px 2px #f29;
    background-color: #000;
    padding:0px 6px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    height: 100%;
    color:#efe;
}
.logo_da--text:focus, .logo_da--icon:focus, .options_da--li:focus, .mode_da_:focus {
    outline:none;
    background-color: #777;
    color:#fff;
}
.options_da--li{
    color: #efe;
    padding: 0px 13px;
    height: 100%;
    background-color: #000;
    cursor: pointer;
    font-weight:500;
    border:none;
    position:relative;
    transition:all ease-in-out 450ms;
}

.mode_da_{
    position: relative;
    height: 100%;
    background-color: #000;
    font-weight:500;
    transition: all ease 250ms;
    padding: 6px 12px 2px 12px;
    font-size:22px;
    border:none;
    cursor:pointer;
    min-width: 0px;
    color: #efe;
}

.title_I_da_btn{
    padding: 4px 6px;
    font-weight: 500;
    background-color: #222;
    color: #fff;
    border: none;
    border-radius: 4px;
    text-shadow: 2px 2px 2px #595;
    margin: 0px 8px 0px 0px ;
    height: 100%;
}

.options_da_btn{
    height: 100%;
    border-radius:100%;
    padding: 2px 10px 0px 10px;
    font-size:23px;
    color: #fff;
    background-color: #151;
    margin-right: 4px;
    border: none;
    cursor:pointer;
    transition:all ease 450ms;
    /* margin: 0px 0px 0px 4px; */
    position: relative;
}
.options_da_list{
    background-color: #000 !important;
    color: #fff !important;
}

/* HOME COMPONENTE */

.home_d--{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100vh;
    background-image:  linear-gradient(#444,#777),url('../imges/home_da_bg.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-blend-mode: saturation;
    z-index: 2;
}
.infos_da--btn{
    border: none;
    border-radius: 24px;
    background-color: #777;
    padding:8px;
    font-family: 'Antcic', serif;
    margin: 8px 0px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}
.infos_da--btn:hover{
    background-color: #999;
}

.infos_da--head{
    font-family: 'Cinzel Decorative', cursive;
    font-size: 32px;
    text-shadow: 2px 1px #aaa;
    margin: 0px 0px 4px 0px;
    border-bottom:2px solid #aaa;
    font-weight: 600;
    color: #efe;
}

.infos_da--body{
    font-weight:300;
    font-size:22px;
    font-family: 'Antic', sans-serif;
    margin: 0px 0px 4px 0px;
    color:#efe;
}
.infos_da--body::first-letter{
    font-size:44px;
    margin: 0px 2px 0px 0px;
    line-height: 0.9em;
    font-weight:600;
    color: #efe;
}

.infos_da--body-p{
    font-size:14px;
    font-weight: 500;
    font-family: 'Antic', sans-serif;
    color: #efe;
}



/* FEATURES */
.features_da--{
    z-index: -1;
    display: flex;
    flex-direction:row;
    align-items:center;
    justify-content: space-evenly;
    position: relative;
    /* margin:36px 0px; */
    background-color: #111;
    padding: 2em 0px;
}

.features_da--info{
    font-family:'Neuton', serif;
    font-size:42px;
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 30vw;
    text-decoration: underline #bdb;
    color: #ede;
}
.feature_box_da--title{
    color: #ff3;
    text-shadow: 2px 2px 2px #efe;
}
.feature_box_da--description{
    color:#efe;
    text-shadow: 2px 1px #eee;
}
.features_da--::before{
    position: absolute;
    top: 0;
    left: 0;
    background:#888;
    height: 1px;
    width: 100%;
    /* -webkit-box-shadow: 2px 12px 9px 4px rgba(75,75,75,0.64);  */
    box-shadow: 0px 1px 10px 5px #888;
    content:'';
    border-radius: 100%;
    z-index: 2;
    } 
    .features_da--::after{
    position: absolute;
    bottom: 0;
    left: 0;
    background:#888;
    height: 1px;
    width: 100%;
    box-shadow: 0px -1px 10px 5px #888;
    content:'';
    border-radius: 100%;
    z-index:2;
    }

    

    /* ARTICLES */

    .articles_da--{
        display: flex;
        flex-direction:row;
        flex-wrap:wrap;
        justify-content: space-evenly;
        align-items: center ;
        background-color:#000;
        padding: 50px 10vw;
        position:relative;
        z-index:2;
    }
    .articles_da--::after{
        content:'';
        position:absolute;
        bottom:0;
        left:0;
        height:1px;
        width:100%;
        background:#555;
        box-shadow: 0px 4px 20px 4px #eee;
        border-radius:100%;
        z-index:2;
    }

    .article_da_box--{
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content: center;
        background-color: #111;
        border-radius: 8px;
        border: 3px solid #9f9;
        padding: 0px 0px 12px 0px;
        max-width: 200px;
        margin: 20px 20px;
        transition: all ease-in-out 350ms;
    }
    .infos_da--title_{
        font-size:20px;
        font-weight: 700;
        font-family: 'Neuton', serif;
        color:#eee;
        margin:0px;
        text-decoration: underline #dd3;
        padding: 0px 4px;
    }
    .infos_da--tag_{
        font-size: 11px;
        font-weight: 400;
        font-family: monospace;
        color: #eee;
        padding:2px 4px;
        border:1px solid #ddd;
        border-radius: 4px;
        max-width:auto;
        display:inline-block;
        cursor:help;
        margin: 0px;   
    }
    .infos_da--description_{
        font-family: 'Inria Sans', sans-serif;
        font-weight: 300;
        font-size:17px;
        color:#f7a;
        padding: 0px 4px;
    }



/* CONTACT  */
.contact_da--{
    height: 100vh;
    width:100%;
    position:relative;
    background-image: linear-gradient(#000,#000), url('../imges/contact_I_bg.jpg');
    background-size: contain;
    background-blend-mode:saturation;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    z-index: 5;
}
.form_da_icons--{
    background-color:rgba(0,0,0,0.4);
    border-radius: 100px;
    /* -webkit-box-shadow: 0px 0px 0px 8px #000000, 0px 0px 0px 16px #4B4C4B, 0px 0px 0px 24px #828482, 0px 0px 0px 31px #B2B5B2, 0px 0px 0px 39px #DADDDA, 5px 5px 15px 5px rgba(0,0,0,0);  */
    box-shadow: 0px 0px 0px 4px #4B4C4B, 0px 0px 0px 8px #5B5c5b, 0px 0px 0px 12px #6b6b6b;
}

#email_da_{
    width:274px;
    padding: 4px 12px;
    background-color: #ddd;
    border: 3px solid #ded;
    margin:4px;
    color:#000;
    font-weight: 700;
    border-radius: 20px;
}
#name_da_{
    width:174px;
    padding: 4px 12px;
    background-color: #ddd;
    border: 3px solid #ded;
    margin:4px;
    color:#000;
    font-weight: 700;
    border-radius: 20px;
}
#title_da_{
    padding: 4px 12px;
    background-color: #ddd;
    border: 3px solid #ded;
    margin:4px;
    color:#000;
    font-weight: 700;
    border-radius: 20px;
    font-family: 'Rufina',serif;
    width: 456px;
}
#comment_da_{
    padding:8px 12px;
    margin:4px;
    height: 100px;
    border-radius: 20px;
    background-color: #ddd;
    resize:none;
    color:#000;
    font-weight: 700;
    width: 456px;
    font-family: 'Rufina',serif;
    border:3px solid #ded;
}
#submit_da_{
    width: 456px;
    background: #333;
    border: none;
    border-radius: 12px;
    padding: 4px;
    margin:4px 0px;
    font-family:'Antic', serif;
    font-weight:600;
    font-size:20px;
    cursor:pointer;
    color:#eee;
    transition: all ease 250ms;
}#submit_da_:focus{
    transform: scale(0.94);
    outline: none;
    border:2px solid #ff3;
}
#email_da_:focus,#name_da_:focus,#title_da_:focus, #comment_da_:focus{
    outline:none;
    border: 3px solid #ff3;
}
.contact_da_icon_{
    padding:6px 8px 4px 8px;
    background-color: #000;
    border-radius: 50%;
    margin: 18px 12px;
    font-size: 26px;
    cursor: pointer;
}
.icon_da_II{
    color:#000;
}
#name_da_::placeholder, #comment_da_::placeholder, #title_da_::placeholder, #email_da_::placeholder{color: #666;}


