@media only screen and (max-width:427px){
    .header--{
        background-color: #eee;
        padding: 4px 16px;
        height: 50px;
        z-index: 0.9;
        display: relative;
    }
    .logo--text{
        display: none;
    }
    .logo--icon{
        height: 100%;
        border-radius: 100%;
        padding: 2px 10px 0px 10px;
        display: none;
    }

    .options--li{
        display: none;
    }
    .mode_{
        border-radius: 100%;
        padding: 4px 10px 0px 10px;
    }

    /* HOME */

    /* features */
    .features--{
        justify-content: space-between;
    }
    .features--boxes{
        width: 60vw;
    }
    .features--info{
        width:40vw;
        padding: 0px 20px;
    }
    .feature_box--{
        padding: 8px;
    }


    /* Articles */
    .article_box--{
        margin: 8px;
        max-width: 282px;
    }



    /* contact */
    .contact--{
        max-height: 70vh;
    }
    .contact--form{
        padding:4px 0px;
    }
    .name_email_--{
        flex-direction:column;
    }
    #title_{
        max-width: 274px;
    }
    #name_ , #comment_, #submit_{
        max-width: 274px;
    }
    .form_icons--{
        box-shadow: none;
        -webkit-box-shadow:none;
        border-radius: 4px;
    }


    /* DARKMODE */
    .header_da--{
        background-color:#000;
        padding: 4px 16px;
        height: 50px;
        z-index:0.9;
        display:relative;
    }
    
    .logo_da--icon{
        height: 100%;
        border-radius: 100%;
        padding: 2px 10px 0px 10px;
        background-color: #000;
        color: #efe;
        display: none;
    }
    
    .logo_da--text{
        display: none;
    }
    .options_da--li{
        display: none;
    }
    
    .mode_da_{
        background-color: #000;
        color: #efe;
        border-radius: 100%;
        padding: 4px 10px 0px 10px;
    }
    
    .features_da--{
        justify-content: space-between;
        background-color:#111;
    }
    
    .features_da--info{
        width: 40vw;
        padding: 0px 20px;
        color: #ede;
        text-decoration: underline #bdb;
    }
    
    .article_da_box--{
        margin: 8px;
        max-width: 282px;
    }
    
    .contact_da--{
        max-height: 70vh;
    }
    
    #name_da_ , #title_da_ , #comment_da_ , #submit_da_{
        max-width: 274px;
    }

    .form_da_icons--{
        border-radius: 4px;
    }

    
        

}
@media only screen and (max-width:769px) {
    
        /* contact */
        .contact--{
            max-height: 70vh;
        }
        .contact--form{
            padding:4px 0px;
        }
        .name_email_--{
            flex-direction:column;
        }
        #title_{
            max-width: 274px;
        }
        #comment_, #submit_{
            max-width: 274px;
        }
        .form_icons--{
            box-shadow: none;
            -webkit-box-shadow:none;
            border-radius: 4px;
        }
        
        /* home */
        .infos--{
            padding: 0px 30px 20px 30px;
            width: 100%;
            margin: 0px;
            text-align: center;
        }
        .infos--head{
            font-size:22px;
        }
        .infos--body{
            font-size:20px;
            padding: 10px;
        }.infos--body::first-letter{font-size: 22px;}
        .home--{
            flex-direction: column;
            justify-content:space-around;
        }
        .image--img{
            width: 100%;
            height: 100%;
        }
        .image--{
            width: 100%;
            height: 60%;
        }

        /* FEatures:: */
        
        .features--{
            flex-direction: column;
        }
        .features--info{
            width: 100%;
            text-align: center;
            margin-bottom: 28px;
        }
        .features--boxes{
            width: 100%;
        }
        .feature_box--{
            margin: 8px 8px;

        }
        
        /* DARKMODE */
        .infos_da--head{
            font-size: 22px;
        }
        .infos-da--body{
            font-size: 20px;
        }.infos_da--body::first-letter{font-size: 22px;}
        .home_d--{
            flex-direction:column;
            justify-content: space-around;
        }
        
        .contact_da--{
            max-height: 70vh;
        }

        #name_da_,#title_da_ , #comment_da_ , #submit_da_{
            width: 274px;
        }
        .form_da_icons--{
            border-radius: 8px;
        }
        .features_da--{
            flex-direction: column;
        }
        .features_da--info{
            width: 100%;
            text-align: center;
            margin-bottom: 28px;
        }
        .features_da--boxes{
            width: 100%;
        }
        .feature_da_box--{
            margin: 8px 8px;

        }
}