/* Font */
/*  */

/*  */
.S_outDiv:hover .S_title, .M_outDiv:hover .M_title, .L_outDiv:hover .L_title, .L_outDiv:hover .L_text, .XS_outDiv:hover .XS_title, .AX_outDiv:hover .AX_title, .AX_outDiv:hover .AX_text{
    text-decoration: underline;
}
.L_outDiv:hover .L_more, .AX_outDiv:hover .AX_more{
    font-weight: bolder;
}
.progress-bar{
    --progress: 0;
    width: var(--progress);height: 6px;
    --color:#ff3;
    background: var(--color);
    border-radius:8px;
}
[class ^="cursor"]{
    position: absolute;
    top:0;left: 0;
    transform:translate(-50%, -50%);
    z-index: 99;
    pointer-events: none;
}
.txt_:hover{
    cursor: none;
}
body{
    overflow-x: hidden;
}
.cursor-inner{
    /* border: 2px solid #010c1d; */
    width: 12px;height: 12px;
    border-radius: 50%;
    background: #ef233c;
    /* mix-blend-mode: difference; */
}
.href{
    font-weight: 600;
    color: #373;
    text-decoration: none;
    cursor: pointer;
}
/* colors */
.black {color: black;} .blue{color: blue;} .red{color: red;} .white{color: white;} .green{color: green;} .yellow{color: yellow;} .darkblue{color: darkblue;} .darkred{color:darkred;} .gray{color: gray;} .darkgreen{color: darkgreen;} .lime{color:lime;} .violet{color: violet} .pink{color: pink;} .orange{color: orange;}
/* fontWeight */
._300{font-weight: 300;} ._400{font-weight: 400;} ._500{font-weight: 500;} ._600{font-weight: 600;} ._700{font-weight: 700;} ._800{font-weight: 800;} ._900{font-weight: 900;}
/* font decoration */
.underline{text-decoration: underline;} .italic{font-style:italic;} .linethrough{text-decoration: line-through;} .uppercase{text-transform: uppercase;} .captalize{text-transform: capitalize;} .lowercase{text-transform:lowercase;}
/* font size */
._12{font-size: 12px;} ._14{font-size: 14px;} ._16{font-size: 16px;} ._18{font-size: 18px;} ._20{font-size: 20px;} ._22{font-size: 22px;} ._24{font-size: 24px;} ._26{font-size: 26px;} ._28{font-size: 28px;} ._30{font-size: 30px;} ._32{font-size: 32px;} ._34{font-size: 34px;} ._36{font-size: 36px;} ._38{font-size: 38px;} ._40{font-size: 40px;} ._42{font-size: 42px;} ._44{font-size:44px} ._46{font-size:46px} ._48{font-size:48px} ._50{font-size:50px} ._52{font-size:52px} ._54{font-size:54px}._56{font-size:56px}._58{font-size:58px}._60{font-size:60px}._62{font-size:62px}._64{font-size:64px}._66{font-size:66px}._68{font-size:68px}._70{font-size:70px}._72{font-size:72px}._74{font-size:74px}._76{font-size:76px}._78{font-size:78px}._80{font-size:80px}._82{font-size:82px}

/*  */
.link_, .link_:hover, .link_:focus{
    text-decoration: none;
    outline:none;
    border: none;      
}
.App{
    overflow: hidden;
}
*{
    margin:0;
    padding: 0;
    box-sizing:border-box;
    font-family: Open Sans, sans-serif;
}
body{
}
/* MY NEW SPACE */
.btn_4:hover,.mode_:hover{
    background-color: rgba(150,150,250,0.5) !important;
}.btn_4:focus{background-color: rgba(0, 0, 0, 0.5) !important; color:#fff;outline: none;}
#c2_0:hover{
    box-shadow:  2px 2px 4px 2px #ef233c !important;
    border: 1px solid #ef233c !important;
}

/* END OF MY NEW SPACE */
.mode_::after, .btn_4::after{
visibility: hidden;
position: absolute;
background:rgba(200, 200, 200, 0.9);
transform-origin: left;
transform: scaleX(0);
transition: all .45s ease-in-out;
content: '';
bottom: 4px;
left:2px;
width: 80%;
height: 1px;
box-shadow: 1px 1px 1px 1px rgba( 200, 200, 200, 0.9);
border-radius: 100%;
}
.mode_:hover::after{
    visibility: visible;
    transform-origin: left ;
    transform:scaleX(1);}
#rotate180{
    transition: all ease-in-out 450ms;
}
@keyframes clipPath {
    0%{opacity: 0;}
    100%{transform: rotateX(0deg) scale(1);opacity: 1;}
}
@keyframes clip2Path {
    0%{opacity: 1;}
    100%{transform: rotateX(0deg) scale(1);opacity: 0;}
}

.hid{
    animation: clip2Path 1200ms linear 0s;
    transition: all ease-in-out 1200ms;
    opacity: 0;
}
.sho{
    animation: clipPath 1200ms linear 0ms;
    transition: all ease-in-out 1200ms;
    opacity: 1;
}
.a_0:hover{
    background-color: rgba(00, 00, 00, 0.8);
    color: #fff;
}
.a_0::after{
    content: '';
    height: 2px;
    background:#337;
    position: absolute;
    bottom: 0%;
    left: 10%;
    /* border-radius: 100%; */
    width: 80%;
}
.a_0:last-child::after{
    height: 0;
}

.none{
    display:none;
}
.transition{
    transition: all ease 1200ms;
}
@-webkit-keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg);
    }
  }
  @keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg);
    }
  }
  @keyframes rotate-back{
    0%{
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    100%{
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
  }
  .rotate180 {
	-webkit-animation: rotate-center 0.35s ease-in-out forwards;
	        animation: rotate-center 0.35s ease-in-out forwards;
}  
.rotate_back{
    -webkit-animation: rotate-back 0.35s ease-in-out forwards;
    animation: rotate-back 0.35s ease-in-out forwards;
}

::selection{
    background-color: #393;
}

::placeholder{
    font-weight: 700;
    color: #f1dac4;
}
#submit_:focus{
    transform: scale(0.94);
    outline: none;
    border:2px solid #ee3;
}

input[type=text]:focus,input[type=email]:focus,input[name=title]:focus, textarea[type=comment]:focus{
    outline:none;
    border: 2px solid #f00 !important;
}
button[type=submit]:focus{
    transform: scale(0.94);
    outline: none;
    border:2px solid #ee3 !important;
}

/* DONT DELETE ME */
#i_1{
    color:#fff;
}#i_2{
    color:#7ee;
}#i_3{
    color:#a60;
}
/*  */
fieldset::after{
    height: 0 !important;
    background: transparent;
}