/* Font */
/*  */

/*  */
.link_, .link_:hover, .link_:focus{
    text-decoration: none;
    outline:none;
    border: none;      
}
.App{
    overflow: hidden;
}
*{
    margin:0;
    padding: 0;
    box-sizing:border-box;
}

/* MY NEW SPACE */
.btn_4:hover{
    background-color: rgba(150,150,250,0.5) !important;
}.btn_4:focus{background-color: rgba(0, 0, 0, 0.5) !important; color:#fff;outline: none;}
#c2_0:hover{
    box-shadow:  2px 2px 4px 2px #ef233c !important;
    border: 1px solid #ef233c !important;
}

/* END OF MY NEW SPACE */
.mode_::after, .btn_4::after{
visibility: hidden;
position: absolute;
background:rgba(200, 200, 200, 0.9);
transform-origin: left;
transform: scaleX(0);
transition: all .45s ease-in-out;
content: '';
bottom: 4px;
left:2px;
width: 80%;
height: 1px;
box-shadow: 1px 1px 1px 1px rgba( 200, 200, 200, 0.9);
border-radius: 100%;
}
.mode_:hover::after{
    visibility: visible;
    transform-origin: left ;
    transform:scaleX(1);}
#rotate180{
    transition: all ease-in-out 450ms;
}
@keyframes clipPath {
    0%{opacity: 0;}
    100%{transform: rotateX(0deg) scale(1);opacity: 1;}
}
@keyframes clip2Path {
    0%{opacity: 1;}
    100%{transform: rotateX(0deg) scale(1);opacity: 0;}
}

.hid{
    animation: clip2Path 1200ms linear 0s;
    transition: all ease-in-out 1200ms;
    opacity: 0;
}
.sho{
    animation: clipPath 1200ms linear 0ms;
    transition: all ease-in-out 1200ms;
    opacity: 1;
}
.a_0:hover{
    background-color: rgba(00, 00, 00, 0.8);
    color: #fff;
}
.a_0::after{
    content: '';
    height: 2px;
    background:#337;
    position: absolute;
    bottom: 0%;
    left: 10%;
    /* border-radius: 100%; */
    width: 80%;
}
.a_0:last-child::after{
    height: 0;
}

.none{
    display:none;
}
.transition{
    transition: all ease 1200ms;
}
@-webkit-keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg);
    }
  }
  @keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg);
    }
  }
  @keyframes rotate-back{
    0%{
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    100%{
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
  }
  .rotate180 {
	-webkit-animation: rotate-center 0.35s ease-in-out forwards;
	        animation: rotate-center 0.35s ease-in-out forwards;
}  
.rotate_back{
    -webkit-animation: rotate-back 0.35s ease-in-out forwards;
    animation: rotate-back 0.35s ease-in-out forwards;
}

::selection{
    background-color: #393;
}

::placeholder{
    font-weight: 700;
    color: #f1dac4;
}
#submit_:focus{
    transform: scale(0.94);
    outline: none;
    border:2px solid #ee3;
}

input[type=text]:focus,input[type=email]:focus,input[name=title]:focus, textarea[type=comment]:focus{
    outline:none;
    border: 2px solid #f00 !important;
}
button[type=submit]:focus{
    transform: scale(0.94);
    outline: none;
    border:2px solid #ee3 !important;
}

/* DONT DELETE ME */
#i_1{
    color:#fff;
}#i_2{
    color:#7ee;
}#i_3{
    color:#a60;
}
/*  */
fieldset::after{
    height: 0 !important;
    background: transparent;
}